<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <main>
<img src="" alt="">
<h1>Welkom</h1>

<section class="inloggen">
<a href="/login">Inloggen</a>
<a href="/registreren">Registreren</a>
</section>

<span></span>

<section class="socials">
<a href="">Discord</a>
<a href="">Twitter</a>
<a href="">Instagram</a>
</section>
    </main>
</body>
</html>
