<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<img src="/images/Gamelink.svg" alt="">
    <form action="/login" method="post">
         <p>Heb je nog geen account? <a href="/registreren">Registreer</a></p>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>

    <p>Nog geen account?</p>
   <button><a href="/registreren">Registreer</a></button>
    
    <script src="/js/login.js"></script>
</body>
</html>
