#showSecurity {
    margin-bottom: 1em;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-container input {
    background-color: #b83a2e;
    outline: none;
    border: 1px solid #ddc6a7;
    border-radius: 0.5em;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    color: white;
    margin-bottom: 1em;
}

.search-container input::placeholder {
    color: white;
}

#dropdown {
    width: 100%;
    background-color: #b83a2e;
    max-height: 300px;
    overflow-y: auto;
    z-index: 3;
}

.result {
    padding: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.result:hover {
    background: #eee;
    color: #1a1a1a;
}

.add-btn {
    margin-left: auto;
    padding: 1em;
    border: 1px solid #ddc6a7;
    border-radius: 0.3em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.remove-game-btn {
    margin-left: auto;
    padding: 1em;
    border: 1px solid #ddc6a7;
    border-radius: 0.3em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.game-list {
    display: grid;
    gap: 1em;
    width: min(40em, 90vw);
}

.game-card {
    background-color: #2a2a2a;
    border: 1px solid #ddc6a7;
    border-radius: 0.75em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}
