/* Gedeelde css, wordt op meer pagina's gebruikt */
* {
    margin: 0;
    list-style: none;
    font-family: "Cascadia Code", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 3em;
    margin-bottom: 6em;

}

h1,
h2 {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #b83a2d;
    color: white;
}

nav {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.35em;
    background-color: #4c6851;
    padding: 0.90em 1em;
    border-top: 5px solid #ddc6a7;
}

nav li {
    background-color: #ffffff;
    border-radius: 1em;
    border: 3px solid #ddc6a7;
    padding: 0.35em 0.2em;
    width: calc((100% - (3 * 0.35em)) / 4);
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.12em;
}

nav li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li p {
    color: #1a1a1a;
    font-size: 0.7rem;
    line-height: 1;
}

nav img {
    height: 2.2em;
    width: 2.2em;
}

/* notification badge voor friends requests */
.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -10px;
}
