/*font*/
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*root kleuren*/
:root {
    --kleur-achtergrond: #1a1a1a;
    --kleur-primair: #B83A2E;
    --kleur-primair-donker: #400904;
    --kleur-tekst: #ffffff;
    --kleur-tekst-zacht: #f0c7bc;
    --schaduw-standaard: 0 18px 40px rgba(0, 0, 0, 0.38);
    --kleur-oppervlak: #2a2a2a;
    --schaduw-hover: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
}

/* Gedeelde css, wordt op meer pagina's gebruikt */
* {
    margin: 0;
    list-style: none;
    font-family: "Cascadia Code", monospace;
    text-decoration: none
}

body {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 1em;
    margin-bottom: 3em;
}

h1,
h2 {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #b83a2d;
    color: white;
}

nav {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #4c6851;
    list-style: none;
    border-top: 5px solid #ddc6a7;
}

nav img {
    height: 3em;
    width: 3em;
}

/* notification badge voor friends requests */
.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  position: absolute;
}

.lijn {
    height: 0.3em;
    background-color: #ddc6a7;
    border-radius: 0.5em;
}


